<form autocomplete="off">
  <h2>{{ localize "lancer.actionTracker.menu-label" }}</h2>
  <div class="form-group">
    <label>{{ localize "lancer.actionTracker.showHotbar" }}</label>
    <input type="checkbox" name="showHotbar" {{#if showHotbar}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.actionTracker.showHotbar-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.actionTracker.allowPlayers" }}</label>
    <input type="checkbox" name="allowPlayers" {{#if allowPlayers}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.actionTracker.allowPlayers-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.actionTracker.printMessages" }}</label>
    <input type="checkbox" name="printMessages" {{#if printMessages}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.actionTracker.printMessages-desc" }}</p>
  </div>
  <div class="form-group">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i>
      <span>Save</span>
    </button>
    <button type="button" name="reset">
      <i class="fas fa-undo"></i>
      <span>Reset</span>
    </button>
  </div>
</form>