<form>
    <div class="flexcol">
        {{{std-string-input "action.name" label="ACTION NAME"}}}
        {{{std-string-input "action.lid" label="ACTION ID"}}}
        {{{std-select "action.activation" activation_type label="TYPE"}}}
        {{{std-num-input "action.cost" label="COST"}}}
        {{{std-num-input "action.frequency" label="FREQUENCY"}}}
        <!--{{{std-string-input "action.init" label="FREQUENCY"}}}-->
        {{{std-string-input "action.trigger" label="TRIGGER"}}}
        {{{std-string-input "action.terse" label="TERSE"}}} 
        {{{textarea-card "DETAILS" "action.detail"}}} 
        {{{std-num-input "action.heat_cost" label="HEAT COST"}}}
        <!-- TODO: Synergy --> 
        {{{item-edit-arrayed-damage "action.damage" "DAMAGE"}}}
        {{{item-edit-arrayed-range "action.range" "RANGE"}}}

    </div>
</form>

{{!-- Just hard-code the buttons for now... --}}
<div class="dialog-buttons">
    <button class="dialog-button confirm" data-button="confirm">
        <i class="fas fa-save"></i>
        Save
    </button>
    <button class="dialog-button cancel" data-button="cancel">
        <i class="fas fa-times"></i>
        Cancel
    </button>
</div>