<form autocomplete="off">
  <h2>{{ localize "lancer.automation.menu-label" }}</h2>
{{!--  <div class="form-group">
    <label>{{ localize "lancer.automation.master-switch" }}</label>
    <input type="checkbox" name="enabled" {{#if enabled}}checked{{/if}} data-dtype="Boolean"/>
    <p class="notes">{{ localize "lancer.automation.master-switch-desc" }}</p>
  </div> --}}
  <div class="form-group">
    <label>{{ localize "lancer.automation.attacks" }}</label>
    <input
        type="checkbox"
        name="attacks"
        {{#if attacks}}checked{{/if}}
        data-dtype="Boolean"
    />
    <p class="notes">{{ localize "lancer.automation.attacks-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.automation.structure" }}</label>
    <input
        type="checkbox"
        name="structure"
        {{#if structure}}checked{{/if}}
        data-dtype="Boolean"
    />
    <p class="notes">{{ localize "lancer.automation.structure-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.automation.overcharge_heat" }}</label>
    <input
        type="checkbox"
        name="overcharge_heat"
        {{#if overcharge_heat}}checked{{/if}}
        data-dtype="Boolean"
    />
    <p class="notes">{{ localize "lancer.automation.overcharge_heat-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.automation.attack_self_heat" }}</label>
    <input
        type="checkbox"
        name="attack_self_heat"
        {{#if attack_self_heat}}checked{{/if}}
        data-dtype="Boolean"
    />
    <p class="notes">{{ localize "lancer.automation.attack_self_heat-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.automation.limited_loading" }}</label>
    <input
        type="checkbox"
        name="limited_loading"
        {{#if limited_loading}}checked{{/if}}
        data-dtype="Boolean"
    />
    <p class="notes">{{ localize "lancer.automation.limited_loading-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.automation.npc_recharge" }}</label>
    <input
        type="checkbox"
        name="npc_recharge"
        {{#if npc_recharge}}checked{{/if}}
        data-dtype="Boolean"
    />
    <p class="notes">{{ localize "lancer.automation.npc_recharge-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.automation.remove_templates" }}</label>
    <input
        type="checkbox"
        name="remove_templates"
        {{#if remove_templates}}checked{{/if}}
        data-dtype="Boolean"
    />
    <p class="notes">{{ localize "lancer.automation.remove_templates-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.automation.token_size" }}</label>
    <input
        type="checkbox"
        name="token_size"
        {{#if token_size}}checked{{/if}}
        data-dtype="Boolean"
    />
    <p class="notes">{{ localize "lancer.automation.token_size-desc" }}</p>
  </div>
  <div class="form-group">
    <button type="button" name="clear">
      <i class="fas fa-cancel"></i>
      <span>Clear All</span>
    </button>
    <button type="button" name="loadDefault">
      <i class="fas fa-page"></i>
      <span>Load Defaults</span>
    </button>
  </div>
  <div class="form-group">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i>
      <span>Save</span>
    </button>
    <button type="button" name="reset">
      <i class="fas fa-undo"></i>
      <span>Reset</span>
    </button>
  </div>
</form>
