<form class="{{cssClass}} lancer-sheet" onsubmit="event.preventDefault();">
	<div class="counter-form">
		<div class="card clipped">
			<div class="lancer-header ">
				<i class="${icon} i--m i--light header-icon"> </i>
				<span class="major"><input name="Name" value="{{ counter.Name }}"/></span>
			</div>
			<div class="flexrow">
				<label>Min: <input class="lancer-stat" type="number" name="Min" value="{{ counter.Min }}"
						data-dtype="Number" /></label>
				<label>Value: <input class="lancer-stat" type="number" name="Value" value="{{ counter.Value }}"
						data-dtype="Number" /></label>
				<label>Max: <input class="lancer-stat" type="number" name="Max" value="{{ counter.Max }}"
						data-dtype="Number" /></label>
			</div>
		</div>
	</div>
	<div class="dialog-buttons flexrow">
		{{#each buttons as |button id|}}
		<button class="dialog-button" data-button="{{id}}">
			{{{button.icon}}}
			{{{button.label}}}
		</button>
		{{/each}}
	</div>
</form>