<form autocomplete="off">
  <h2>{{ localize "lancer.statusIconsConfig.menu-label" }}</h2>
  <div class="form-group">
    <label>{{ localize "lancer.statusIconsConfig.defaultConditionsStatus" }}</label>
    <input type="checkbox" name="defaultConditionsStatus" {{#if defaultConditionsStatus}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.statusIconsConfig.defaultConditionsStatus-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.statusIconsConfig.cancerConditionsStatus" }}</label>
    <input type="checkbox" name="cancerConditionsStatus" {{#if cancerConditionsStatus}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.statusIconsConfig.cancerConditionsStatus-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.statusIconsConfig.cancerNPCTemplates" }}</label>
    <input type="checkbox" name="cancerNPCTemplates" {{#if cancerNPCTemplates}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.statusIconsConfig.cancerNPCTemplates-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.statusIconsConfig.hayleyConditionsStatus" }}</label>
    <input type="checkbox" name="hayleyConditionsStatus" {{#if hayleyConditionsStatus}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.statusIconsConfig.hayleyConditionsStatus-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.statusIconsConfig.hayleyPC" }}</label>
    <input type="checkbox" name="hayleyPC" {{#if hayleyPC}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.statusIconsConfig.hayleyPC-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.statusIconsConfig.hayleyNPC" }}</label>
    <input type="checkbox" name="hayleyNPC" {{#if hayleyNPC}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.statusIconsConfig.hayleyNPC-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.statusIconsConfig.hayleyUtility" }}</label>
    <input type="checkbox" name="hayleyUtility" {{#if hayleyUtility}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.statusIconsConfig.hayleyUtility-desc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "lancer.statusIconsConfig.tommyConditionsStatus" }}</label>
    <input type="checkbox" name="tommyConditionsStatus" {{#if tommyConditionsStatus}}checked{{/if}} data-dtype="Boolean" />
    <p class="notes">{{ localize "lancer.statusIconsConfig.tommyConditionsStatus-desc" }}</p>
  </div>
  <div class="form-group">
    <button type="button" name="loadDefault">
      <i class="fas fa-page"></i>
      <span>Load Defaults</span>
    </button>
  </div>
  <div class="form-group">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i>
      <span>Save</span>
    </button>
    <button type="button" name="reset">
      <i class="fas fa-undo"></i>
      <span>Reset</span>
    </button>
  </div>
</form>
