<div class="card clipped-bot" style="margin: 0px;">
  <div class="card clipped">
    <div class="lancer-header lancer-primary">
      {{localize "lancer.chat-card.title.charge-roll"}}
    </div>
    {{{lancer-dice-roll roll roll_tooltip "mdi mdi-refresh i--m"}}}
    <div class="card clipped">
      <div class="lancer-header lancer-primary">
        {{localize "lancer.chat-card.title.changes"}}
      </div>
      {{#each changed as |change key|}}
        <div class="lancer-hit">
          <div></div>
          <div class="lancer-hit-text">
            <span class="lancer-hit-text-name">
              {{change.name}}
            </span>
            {{#if change.charged}}
              <span class="card clipped lancer-charge-chip charged">
                {{localize "lancer.chat-card.overcharge.charged" target=change.target}}
              </span>
            {{else}}
              <span class="card clipped lancer-charge-chip">
                {{localize "lancer.chat-card.overcharge.uncharged" target=change.target}}
              </span>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>