<div class="card clipped-bot" {{#if item_uuid}} data-uuid="{{item_uuid}}" {{/if}} style="margin: 0px;">
  <div class="lancer-header lancer-primary medium">
    <i class="cci cci-large-beam i--m i--light"> </i>
    <span>{{ title }}</span>
  </div>
  <div class="card clipped">
    <div class="lancer-mini-header collapse-trigger" data-collapse-id="{{_uuid}}-attacks">{{localize "lancer.chat-card.title.attack"}}</div>
    <div class="collapse" data-collapse-id="{{_uuid}}-damage">
      {{#each damage_results as |damage key|}}
        {{{lancer-dice-roll damage.roll damage.tt (concat "cci cci-" (lower-case damage.d_type) " i--m damage--" (lower-case damage.d_type))}}}
      {{/each}}
    </div>
  </div>
  {{#if crit_damage_results}}
    <div class="card clipped">
      <div class="lancer-mini-header collapse-trigger" data-collapse-id="{{_uuid}}-crit-damage">{{localize "lancer.chat-card.title.crit-damage"}}</div>
      <div class="collapse" data-collapse-id="{{_uuid}}-crit-damage">
        {{#each crit_damage_results as |damage key|}}
          {{{lancer-dice-roll damage.roll damage.tt (concat "cci cci-" (lower-case damage.d_type) " i--m damage--" (lower-case damage.d_type))}}}
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if targets}}
    <div class="card clipped">
      <div class="collapse" data-collapse-id="{{_uuid}}-targets">
        {{#each targets as |target key|}}
          <div class="lancer-damage-row">
            <div>
              <img class="lancer-hit-thumb" src="{{target.token.img}}" />
            </div>
            <div class="lancer-hit-text">
              <span class="lancer-hit-text-name">{{target.token.name}}</span>
              {{!-- TODO: show total of each type of damage between name and buttons --}}
              {{#if configurable}}
                {{!-- TODO: put the default as a button, with the rest in a select attached to the button --}}
                {{!-- TODO: add option for crit damage --}}
                <button class="lancer-button lancer-damage-apply" title="Apply 2×">
                </button>
                <button class="lancer-button lancer-damage-apply" title="Apply 1×">
                </button>
                <button class="lancer-button lancer-damage-apply" title="Apply ½×">
                </button>
              {{#else}}
                <button class="lancer-button lancer-damage-apply" title="Apply">
                </button>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if overkill_heat}}
    <div class="card clipped">
      <div class="lancer-mini-header collapse-trigger" data-collapse-id="{{_uuid}}-self-heat">{{localize "lancer.chat-card.title.self-heat"}}</div>
      <div class="collapse" data-collapse-id="{{_uuid}}-self-heat">
        <div class="lancer-dice-total flexrow">
          <span style="text-align: left; margin-left: 5px;">{{localize "lancer.chat-card.exclamation.overkill"}}</span>
          <span class="dice-total lancer-dice-total major">{{ overkill_heat }}</span>
          <i class="cci cci-heat i--m damage--heat"> </i>
        </div>
      </div>
    </div>
  {{/if}}
</div>
