<div class="card clipped-bot" style="margin: 0px">
  <div class="lancer-header lancer-primary">SCAN // 🞂 {{upper-case name}} 🞀</div>
  <div class="scan-result">
    <div class="scan-classes">
      TIER {{tier}}
      {{class}}
      {{#if templates.length}}
        ::
        {{#each templates as |template|}}
          {{template}}
        {{/each}}
      {{/if}}
    </div>
    <div class="scan-stat-grid">
      <div class="scan-stat-item" data-tooltip="Hull">
        <div class="scan-stat-header"><i class="mdi mdi-alpha-h-box-outline"></i></div>
        {{stats.hull}}
      </div>
      <div class="scan-stat-item" data-tooltip="Agility">
        <div class="scan-stat-header"><i class="mdi mdi-alpha-a-box-outline"></i></div>
        {{stats.agi}}
      </div>
      <div class="scan-stat-item" data-tooltip="Systems">
        <div class="scan-stat-header"><i class="mdi mdi-alpha-s-box-outline"></i></div>
        {{stats.sys}}
      </div>
      <div class="scan-stat-item" data-tooltip="Engineering">
        <div class="scan-stat-header"><i class="mdi mdi-alpha-e-box-outline"></i></div>
        {{stats.eng}}
      </div>

      <div class="scan-stat-item" data-tooltip="Structure">
        <div class="scan-stat-header"><i class="cci cci-structure"></i></div>
        {{stats.structure}}
      </div>
      <div class="scan-stat-item" data-tooltip="Max HP">
        <div class="scan-stat-header"><i class="mdi mdi-heart-outline"></i></div>
        {{stats.hp}}
      </div>
      <div class="scan-stat-item" data-tooltip="Evasion">
        <div class="scan-stat-header"><i class="cci cci-evasion"></i></div>
        {{stats.evasion}}
      </div>
      <div class="scan-stat-item" data-tooltip="Armor">
        <div class="scan-stat-header"><i class="mdi mdi-shield-outline"></i></div>
        {{stats.armor}}
      </div>

      <div class="scan-stat-item" data-tooltip="Stress">
        <div class="scan-stat-header"><i class="cci cci-reactor"></i></div>
        {{stats.stress}}
      </div>
      <div class="scan-stat-item" data-tooltip="Heat Cap">
        <div class="scan-stat-header"><i class="cci cci-heat"></i></div>
        {{stats.heat}}
      </div>
      <div class="scan-stat-item" data-tooltip="E-Defense">
        <div class="scan-stat-header"><i class="cci cci-edef"></i></div>
        {{stats.edef}}
      </div>
      <div class="scan-stat-item stat-size" data-tooltip="Size {{stats.size}}" style="grid-area: size">
        {{#if (eq stats.size 0.5)}}
          <i class="cci cci-size-half"></i>
        {{else}}
          <i class="cci cci-size-{{stats.size}}"></i>
        {{/if}}
      </div>

      <div class="scan-stat-item" data-tooltip="Speed">
        <div class="scan-stat-header"><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i></div>
        {{stats.speed}}
      </div>
      <div class="scan-stat-item" data-tooltip="Save Target">
        <div class="scan-stat-header"><i class="cci cci-save"></i></div>
        {{stats.save}}
      </div>
      <div class="scan-stat-item" data-tooltip="Sensor Range">
        <div class="scan-stat-header"><i class="cci cci-sensor"></i></div>
        {{stats.sensor_range}}
      </div>
    </div>
    {{#if weapons}}
      <details open class="clipped-top scan-feature-list lancer-weapon lancer-border-weapon">
        <summary class="lancer-header">
          <i class="cci cci-weapon i--4"></i><span>WEAPONS</span><i class="mdi mdi-unfold-less-horizontal"></i>
        </summary>
        <ul>
          {{#each weapons as |weapon index|}}
            {{{scan-weapon-view weapon}}}
          {{/each}}
        </ul>
      </details>
    {{/if}}
    {{#if techAttacks}}
      <details open class="clipped-top scan-feature-list lancer-tech lancer-border-tech">
        <summary class="lancer-header">
          <i class="cci cci-system i--4"></i><span>TECH ATTACKS</span><i class="mdi mdi-unfold-less-horizontal"></i>
        </summary>
        <ul>
          {{#each techAttacks as |techAttack index|}}
            {{{scan-tech-attack-view techAttack}}}
          {{/each}}
        </ul>
      </details>
    {{/if}}
    {{#if systems}}
      <details open class="clipped-top scan-feature-list lancer-trait lancer-border-trait">
        <summary class="lancer-header">
          <i class="cci cci-trait i--4"></i><span>SYSTEMS</span><i class="mdi mdi-unfold-less-horizontal"></i>
        </summary>
        <ul>
          {{#each systems as |system index|}}
            {{{scan-system-view system}}}
          {{/each}}
        </ul>
      </details>
    {{/if}}
  </div>
</div>
