<div class="card clipped-bot" style="margin: 0px;">
  <div class="{{concat 'lancer-header lancer-' (lower-case type)}}">
    {{localize (concat "lancer.chat-card.title." (lower-case type)) title=title}}
  </div>
  {{! Effect }}
  <div class="effect-text">
    {{{effect}}}
  </div>
  {{! Self heat results }}
  {{#if self_heat_result}}
    <div class="card clipped">
      <div class="lancer-mini-header collapse-trigger" data-collapse-id="{{_uuid}}-self-heat">
        {{localize "lancer.chat-card.title.self-heat"}}
      </div>
      <div class="collapse" data-collapse-id="{{_uuid}}-self-heat">
        {{{lancer-dice-roll self_heat_result.roll self_heat_result.tt "cci cci-heat i--m damage--heat"}}}
      </div>
    </div>
  {{/if}}
  {{! Tags }}
  {{#if tags}}
    <div class="flexrow" style="justify-content: flex-end; flex-wrap: wrap;">
      {{{tag-list "tags"}}}
    </div>
  {{/if}}
</div>