<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="header-fields">
      <h1 class="charname">
        <input
          class="header-field"
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize "lancer.placeholder.name"}}"
        />
      </h1>
    </div>
    {{{ ref-portrait-img actor.img "img" mm }}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="lancer-tabs" data-group="primary">
    <a class="item lancer-tab medium" data-tab="status">{{localize "lancer.deployable-sheet.tabs.status"}}</a>
    <a class="item lancer-tab medium" data-tab="config">{{localize "lancer.deployable-sheet.tabs.config"}}</a>
    <!--<a class="item lancer-tab medium" data-tab="mech">&lt;FRAME//LOADOUT&gt;</a>-->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Active Tab --}}
    <div class="tab manage" data-group="primary" data-tab="status">
      <div class="wraprow quadruple">
        {{{stat-edit-max-card "HP" "mdi mdi-heart-outline" "mm.CurrentHP" "mm.MaxHP" }}}
        {{{stat-edit-max-card "HEAT" "cci cci-heat" "mm.CurrentHeat" "mm.HeatCapacity" }}}
        {{{stat-edit-card "BURN" "cci cci-burn" "mm.Burn" }}}
        {{{stat-edit-card "OVERSHIELD" "mdi mdi-shield-star-outline" "mm.Overshield" }}}
        {{{stat-view-card "SIZE" (concat "mdi " mm.SizeIcon) "mm.Size" }}}
        {{{stat-view-card "ARMOR" "mdi mdi-shield-outline" "mm.Armor" }}}
        {{{stat-view-card "EVASION" "cci cci-evasion" "mm.Evasion" }}}
        {{{stat-view-card "E-DEF" "cci cci-edef" "mm.EDefense" }}}
        {{{stat-view-card "SPEED" "mdi mdi-arrow-right-bold-hexagon-outline" "mm.Speed" }}}
        {{{stat-view-card "SAVE" "cci cci-save" "mm.SaveTarget" }}}

        <div class="card clipped full lancer-macro-grid">
          <span class="lancer-header submajor">BASIC ATTACKS</span>
          <div class="lancer-macro-grid">
            {{{macro-button "BASIC ATTACK" "prepareEncodedAttackMacro" "mm" }}}
          </div>
        </div>

        <div class="card clipped full">
          <div class="lancer-header major">
            {{localize "lancer.deployable-sheet.deployer.label"}}
          </div>
          {{{deployer-slot "mm.Deployer" }}}
        </div>

        {{{textarea-card "DETAILS" "mm.Detail"}}} {{!-- {{{stat-edit-max-card "REPAIRS" "cci
        cci-repair" "mm.CurrentRepairs" "mm.RepairCapacity" }}} {{{stat-view-card "ATTACK"
        "cci cci-heart" "mm.AttackBonus" }}} {{{stat-view-card "TECH ATK" "cci cci-tech-full"
        "mm.TechAttack" }}} {{{stat-view-card "SENSORS" "cci cci-sensor" "mm.SensorRange"
        }}} --}}
      </div>
    </div>

    {{!-- Config Tab --}}
    <div class="tab manage flexcol" data-group="primary" data-tab="config">
      {{!-- Frame Stats --}}
      <div class="card clipped" style="text-align: left;">
        <span class="lancer-header major" style="text-align: center;">{{localize "lancer.deployable-sheet.stats.label"}}</span>
        <div class="card clipped wraprow quadruple">
          <div class="wraprow quadruple">
            {{{clicker-stat-card "MAX HP" "mdi mdi-heart-outline" "mm.BaseMaxHP" false }}}
            {{{clicker-stat-card "ARMOR" "mdi mdi-shield-outline" "mm.BaseArmor" false }}}
            {{{clicker-stat-card "REPAIRS" "cci cci-repair" "mm.BaseRepairCapacity" false }}}
            {{{clicker-stat-card "EVASION" "cci cci-evasion" "mm.BaseEvasion" false }}}
            {{{clicker-stat-card "E-DEF" "cci cci-edef" "mm.BaseEDefense" false }}}
            {{{clicker-stat-card "HEAT CAP" "cci cci-heatcap" "mm.BaseHeatCapacity" false }}}
            {{{clicker-stat-card "SPEED" "mdi mdi-arrow-right-bold-hexagon-outline" "mm.BaseSpeed" false }}}
            {{{clicker-stat-card "TECH ATK" "cci cci-tech-full" "mm.BaseTechAttack" true }}}
            {{{clicker-stat-card "SENSORS" "cci cci-sensor" "mm.BaseSensorRange" false }}}
            {{{clicker-stat-card "SAVE" "cci cci-save" "mm.BaseSaveTarget" false }}}
            {{{clicker-stat-card "SIZE" "cci cci-hexagon" "mm.BaseSize" false }}}
            {{{clicker-stat-card "COST" "cci cci-hexagon" "mm.Cost" false }}}
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
