<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{! Sheet Header }}
  <div>
    <header class="sheet-header card clipped-bot">
      <div grow>
        <h1 class="charname">
          <input class="header-field" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "
            lancer.placeholder.name"}}" />
        </h1>
      </div>
      {{{ref-portrait-img actor.img "img" mm}}}
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="lancer-tabs" data-group="primary">
      <a class="item lancer-tab medium" data-tab="stats">{{localize "lancer.mech-sheet.tabs.stats"}}</a>
      <a class="item lancer-tab medium" data-tab="loadout">{{localize "lancer.mech-sheet.tabs.loadout"}}</a>
      <a class="item lancer-tab medium" data-tab="talents">{{localize "lancer.mech-sheet.tabs.talents"}}</a>
    </nav>
  </div>

  {{!-- Sheet Body --}}
  <section class="sheet-body scroll-body">
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div class="stat-grid">
        {{{stat-edit-max-card "HP" "mdi mdi-heart-outline" "mm.CurrentHP" "mm.MaxHP"}}}
        {{{stat-edit-max-card "HEAT" "cci cci-heat" "mm.CurrentHeat" "mm.HeatCapacity"}}}
        {{{stat-view-card "EVASION" "cci cci-evasion" "mm.Evasion"}}}
        {{{stat-view-card "ARMOR" "mdi mdi-shield-outline" "mm.Armor"}}}
        {{{stat-edit-max-card "STRUCTURE" "cci cci-structure" "mm.CurrentStructure" "mm.MaxStructure"}}}
        {{{stat-edit-max-card "STRESS" "cci cci-reactor" "mm.CurrentStress" "mm.MaxStress"}}}
        {{{stat-view-card "E-DEF" "cci cci-edef" "mm.EDefense"}}}
        {{{stat-view-card "SPEED" "mdi mdi-arrow-right-bold-hexagon-outline" "mm.Speed"}}}
        {{{stat-view-card "SAVE" "cci cci-save" "mm.SaveTarget"}}}
        {{{stat-view-card "SENSORS" "cci cci-sensor" "mm.SensorRange"}}}
        {{{tech-flow-card "TECH ATK" "cci cci-tech-full" "mm.TechAttack"}}}
        {{{stat-edit-card "BURN" "cci cci-burn" "mm.Burn"}}}
        {{{stat-edit-card "O.SHIELD" "mdi mdi-shield-star-outline" "mm.Overshield"}}}
        {{{stat-edit-max-card "REPAIRS" "cci cci-repair" "mm.CurrentRepairs" "mm.RepairCapacity"}}}
        <div class="size-card">
          {{#if (eq mm.Size 0.5)}}
          <i class="cci cci-size-half size-icon theme--main"></i>
          {{else}}
          <i class="cci cci-size-{{mm.Size}} size-icon theme--main"></i>
          {{/if}}
        </div>
        {{{overcharge-button actor "mm.OverchargeCount"}}}
        <div class="flexcol card clipped">
          <div class="lancer-header">
            <span class="major">
              {{localize "lancer.mech-sheet.core.label"}}
            </span>
          </div>
          <div class="flexrow stat-container">
            <input name="mm.CurrentCoreEnergy" class="core-power-toggle mdi mdi-battery" style="margin: auto;"
              type="checkbox" data-dtype="Boolean" {{checked mm.CurrentCoreEnergy}} />
          </div>
        </div>
        {{{stat-rollable-card "GRIT" "cci cci-armor" "mm.Pilot.Grit"}}}
        {{{pilot-slot "mm.Pilot"}}}

        <div class="wraprow double hase">
          {{{stat-rollable-card "HUL" "" "mm.Hull"}}}
          {{{stat-rollable-card "AGI" "" "mm.Agi"}}}
          {{{stat-rollable-card "SYS" "" "mm.Sys"}}}
          {{{stat-rollable-card "ENG" "" "mm.Eng"}}}
        </div>
        <div class="inventory" style="flex: inherit;margin:3px 10px">
          <button style="padding: 8px 16px"> View Inventory </button>
        </div>
      </div>
      <div class="pilot-frame-wrapper flexrow">
        <div class="card">
          <span class="lancer-header submajor clipped-top">
            {{localize "lancer.mech-sheet.macros.label" }}
          </span>
          <div class="lancer-macro-grid">
            {{{macro-button "STABILIZE" "stabilizeMacro" "mm" }}}
            {{{macro-button "FULL REPAIR" "fullRepairMacro" "mm" }}}
            <div style="margin:0px 8px;border-left: 2px solid #a2a2a2;"></div>
            {{{macro-button "STRUCTURE" "prepareStructureMacro" "mm" }}}
            {{{macro-button "OVERHEAT" "prepareOverheatMacro" "mm" }}}
          </div>
        </div>
        {{#if (is-combatant actor)}}
        <div style="min-width:560px" class="card">
          <span class="lancer-header submajor clipped-top">
            {{localize "lancer.mech-sheet.actions.label"}}
          </span>
          <div class="lancer-action-grid">
            {{{action-button "Protocol" "system.action_tracker.protocol" "protocol"}}}
            {{{action-button "Movement" "system.action_tracker.move" "move"}}}
            {{{action-button "Full Action" "system.action_tracker.full" "full"}}}
            {{{action-button "Quick Action" "system.action_tracker.quick" "quick"}}}
            {{{action-button "Reaction" "system.action_tracker.reaction" "reaction"}}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>

    <div class="tab loadout" data-group="primary" data-tab="loadout">
      {{{mech-frame actor "mm.Loadout.Frame"}}}
      <div class="card clipped">
        <span class="lancer-header submajor">BASIC ATTACKS</span>
        <div class="lancer-macro-grid">
          {{{macro-button "MELEE/RANGED" "prepareEncodedAttackMacro" "mm" }}}
          {{{macro-button "TECH" "prepareTechMacro" "mm" }}}
        </div>
      </div>
      <div class="card">
        <span class="lancer-header major">
          {{localize "lancer.mech-sheet.system.label" total=mm.Loadout.TotalSP max=mm.MaxSP}}
        </span>
        {{{mech-loadout "mm"}}}
      </div>
    </div>

    <div class="tab talents" data-group="primary" data-tab="talents">
      {{!-- Talents --}}
      <div class="card clipped">
        <h2 class="lancer-title clipped">{{localize "lancer.pilot-sheet.abilities.talents"}}</h2>
        {{#each mm.Pilot.Talents as |skill index|}}
        {{{ref-mm-controllable-item (concat "mm.Pilot.Talents." index) ""}}}
        {{/each}}
      </div>
    </div>

  </section>
</form>
