<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header>
    <div class="flexcol">
      <div class="flexrow">
        <div class="details">
          <span>{{localize "lancer.pilot-sheet.header.ll"}}</span>
          <span class="pilot-callsign">{{system.level}}</span>
        </div>

        <div class="details flexcol">
          <span>{{localize "lancer.pilot-sheet.header.cs"}}</span>
          <span class="pilot-callsign">{{system.callsign}}</span>
        </div>

        <div class="details flexcol">
          <span>{{localize "lancer.pilot-sheet.header.name"}}</span>
          <span class="medium">{{actor.name}}</span>
        </div>

        <div class="details flexcol">
          <span>{{localize "lancer.pilot-sheet.header.bg"}}</span>
          <span class="medium">{{{system.background}}}</span>
        </div>
      </div>
      <div class="flexrow pilot-stats">
        {{{compact-stat-edit "mdi mdi-heart-outline" "system.hp.value" "system.hp.max" }}}
        {{{compact-stat-edit "mdi mdi-shield-star-outline" "system.overshield" "" }}}
        {{{compact-stat-view "mdi mdi-shield-outline" "system.armor" }}}
        {{{compact-stat-view "cci cci-evasion" "system.evasion" }}}
        {{{compact-stat-view "cci cci-edef" "system.edef" }}}
        {{{compact-stat-view "mdi mdi-arrow-right-bold-hexagon-outline" "system.speed" }}}
      </div>
    </div>
    {{{ ref-portrait-img actor.img "img" actor }}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="lancer-tabs" data-group="primary">
    <a class="item lancer-tab medium" data-tab="cloud">{{localize "lancer.pilot-sheet.tabs.cloud"}}</a>
    <a class="item lancer-tab medium" data-tab="dossier">{{localize "lancer.pilot-sheet.tabs.dossier"}}</a>
    <a class="item lancer-tab medium" data-tab="narrative">{{localize "lancer.pilot-sheet.tabs.narrative"}}</a>
    <a class="item lancer-tab medium" data-tab="tactical">{{localize "lancer.pilot-sheet.tabs.tactical"}}</a>
    <a class="item lancer-tab medium" data-tab="loadout">{{localize "lancer.pilot-sheet.tabs.mech"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body scroll-body">
    {{!-- Cloud Management Tab --}}
    <div class="tab manage" data-group="primary" data-tab="cloud">
      <div style="display: grid; grid-template: auto / 1fr 1fr;">
        <div class="card clipped" style="grid-area: 1/1/2/3;">
          <span class="lancer-header major">{{localize "lancer.pilot-sheet.cloud-header.label"}}</span>
          <select class="lancer-input major lancer-text-field" style="text-align: center;" name="vaultID"
            data-type="String">
            {{#select vaultID}}
            <option value="">{{localize "lancer.pilot-sheet.cloud-header.vaultID"}}</option>
            {{#each pilotCache}}
            <option value="{{id}}">{{callsign}} // {{name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <input class="lancer-input major" style="text-align: center;" type="string" name="rawID" value="{{rawID}}"
            data-dtype="String" placeholder="{{localize "lancer.pilot-sheet.cloud-header.raw-placeholder"}}" />
        </div>

        <div class="card clipped" style="grid-area: 2/1/3/2;">
          <span class="lancer-header major">{{localize "lancer.pilot-sheet.cloud-download.label"}}</span>
          <a class="cloud-control i--dark i--l" style="align-self: center;" data-action="download"><i
              class="cci cci-tech-quick"></i></a>
          <span class="minor desc-text" style="text-align: center;">{{localize
            "lancer.pilot-sheet.cloud-download.lastSync" timestamp=system.last_cloud_update}}</span>
        </div>

        <div class="card clipped" style="grid-area: 2/2/3/3;">
          <span class="lancer-header major">{{localize "lancer.pilot-sheet.cloud-upload.label"}}</span>
          <span>{{localize "lancer.pilot-sheet.cloud-upload.wip"}}</span>
        </div>

        <div class="card clipped" style="grid-area: 3/1/4/2;">
          <span class="lancer-header major">{{localize "lancer.pilot-sheet.json-import.label"}}</span>
          <input id="pilot-json-import" type="file" name="pilot-json-up" class="lcp-up" accept=".json">
        </div>
      </div>
    </div>

    {{!-- Dossier Tab --}}
    <div class="tab dossier active" data-group="primary" data-tab="dossier">
      <div class="wraprow double">
        <div class="card clipped">
          <span class="lancer-header major">{{localize "lancer.pilot-sheet.dossier.cs"}}</span>
          <input class="lancer-input major" {{{getset "system.callsign" }}} data-dtype="String" />
        </div>
        <div class="card clipped">
          <span class="lancer-header major">{{localize "lancer.pilot-sheet.dossier.name"}}</span>
          <input class="lancer-input major" name="name" value="{{actor.name}}" data-dtype="String" />
        </div>

        {{{textarea-card "BACKGROUND" "system.background"}}} {{{textarea-card "HISTORY" "system.history"}}} {{{textarea-card
        "NOTES" "system.notes"}}}
      </div>
    </div>

    {{!-- Pilot Narrative Tab --}}
    <div class="tab pilot flexcol" data-group="primary" data-tab="narrative">
      <div class="card clipped">
        <div class="flexrow">
          {{{clicker-stat-card "LEVEL" "mdi mdi-shield-outline" "system.level" false }}}
          {{{stat-rollable-card "GRIT" "cci cci-armor" "system.grit" }}}
        </div>
      </div>

      {{!-- Skill Triggers --}}
      <div class="card clipped">
        <h2 class="lancer-title clipped">{{localize "lancer.pilot-sheet.abilities.skills"}}</h2>
        {{#each system.skills as |skill index|}} {{{item-preview (concat "system.skills." index) "delete" }}}
        {{/each}}
      </div>

      {{!-- Reserves --}}
      {{!-- TODO --}}

      <div class="card clipped lancer-macro-grid">
          {{{macro-button "BASIC ATTACK" "prepareEncodedAttackMacro" "actor" }}}
      </div>

      {{!-- Armor + Weapons --}}
      <div class="flexrow">
        {{!-- Armor --}}
        <div class="card clipped">
          <h2 class="lancer-header major">{{localize "lancer.pilot-sheet.tactical.armor"}}</h2>
          {{#each system.loadout.armor as |armor key|}} {{{pilot-armor-slot (concat "system.loadout.armor." key)}}} {{/each}}
        </div>

        {{!-- Weapons --}}
        <div class="card clipped">
          <h2 class="lancer-header major">{{localize "lancer.pilot-sheet.tactical.weapons"}}</h2>
          {{#each system.loadout.weapons as |weapon key|}} {{{pilot-weapon-slot (concat "system.loadout.weapons." key)}}}
          {{/each}}
        </div>
      </div>

      {{!-- Gear --}}
      <div class="flexrow">
        {{!-- Gear --}}
        <div class="card clipped">
          <h2 class="lancer-title clipped-top">{{localize "lancer.pilot-sheet.tactical.gear"}}</h2>
          {{#each system.loadout.gear as |gear key|}} {{{pilot-gear-slot (concat "system.loadout.gear." key)}}} {{/each}}
        </div>
      </div>
    </div>

    {{!-- Pilot Tactical Tab --}}
    <div class="tab tactical flexcol" data-group="primary" data-tab="tactical">
      {{!-- Counters --}}
      <div class="flexrow">
        {{{pilot-counters actor}}}
      </div>

      <div class="flexrow">
        {{{clicker-stat-card "HUL" "" "system.hull" true }}}
        {{{clicker-stat-card "AGI" "" "system.agi" true }}}
        {{{clicker-stat-card "SYS" "" "system.sys" true }}}
        {{{clicker-stat-card "ENG" "" "system.eng" true }}}
      </div>

      {{!-- Talents --}}
      <div class="card clipped">
        <h2 class="lancer-title clipped">{{localize "lancer.pilot-sheet.abilities.talents"}}</h2>
        {{#each system.talents as |skill index|}} {{{item-preview (concat "system.talents." index) "delete" }}}
        {{/each}}
      </div>

      {{!-- Licenses + Core Bonuses --}}
      <div class="flexrow">
        {{!-- Licenses --}}
        <div class="card clipped">
          <h2 class="lancer-title clipped-top">{{localize "lancer.pilot-sheet.tactical.licenses"}}</h2>
          {{#each system.licenses as |license index|}} {{{ref-license license license.current_rank (concat "system.licenses."
          index) }}} {{/each}}
        </div>

        {{!-- Core Bonuses --}}
        <div class="card clipped">
          <h2 class="lancer-title clipped-top">{{localize "lancer.pilot-sheet.tactical.cores"}}</h2>
          {{#each system.core_bonuses as |core_bonus index|}} {{{item-preview (concat "system.core_bonuses." index)
          "delete" }}} {{/each}}
        </div>
      </div>

    </div>


    {{!-- Loadout Tab --}}
    {{!-- Things to put in here:
    * ActiveMechRef (maybe just drag&drop & a link here to get to it?)
    * Access to a full list of things unlocked by licenses (read-only)
    --}}
    <div class="tab loadout flexcol" data-group="primary" data-tab="loadout">
      {{!-- Active Mech --}}
      {{{ all-mech-preview }}}
    </div>
  </section>
</form>
