<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="header-fields">
      <h1 class="charname">
        <input class="header-field" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </h1>
    </div>
    <div class="details flexcol">
      <i class="cci cci-npc-tier-{{mm.Tier}} tier-icon theme--npc"></i>
    </div>

    <div class="details flexcol">
      <span>CLASS:</span>
      <span class="major">
        {{#if mm.ActiveClass}} {{mm.ActiveClass.Name}} {{else}} NO CLASS FOUND {{/if}}
      </span>
    </div>
    {{{ ref-portrait-img actor.img "img" mm }}}
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexcol">
      {{!-- Stats et all --}}
      <div class="wraprow quintuple">
        {{{clicker-stat-card "TIER" (concat "cci cci-npc-tier-" mm.Tier) "mm.Tier" true }}}
        {{{stat-rollable-card "HULL" "" "mm.Hull" }}} {{{stat-rollable-card "AGI" "" "mm.Agility" }}}
        {{{stat-rollable-card "SYS" "" "mm.Systems" }}} {{{stat-rollable-card "ENG" "" "mm.Engineering" }}}
        {{{stat-edit-max-card "HP" "mdi mdi-heart-outline" "mm.CurrentHP" "mm.MaxHP" }}} {{{stat-edit-max-card
        "HEAT" "cci cci-heat" "mm.CurrentHeat" "mm.HeatCapacity" }}} {{{stat-view-card "ARMOR" "mdi mdi-shield-outline"
        "mm.Armor" }}} {{{stat-edit-card "OVERSHIELD" "mdi mdi-shield-star-outline" "mm.Overshield" }}}
        {{{stat-edit-card "BURN" "cci cci-burn" "mm.Burn" }}} {{{stat-view-card "SPEED" "mdi
        mdi-arrow-right-bold-hexagon-outline" "mm.Speed" }}} {{{stat-view-card "EVASION" "cci cci-evasion"
        "mm.Evasion" }}} {{{stat-view-card "E-DEF" "cci cci-edef" "mm.EDefense" }}} {{{stat-view-card "SENSORS"
        "cci cci-sensor" "mm.SensorRange" }}} {{{stat-view-card "SAVE" "cci cci-save" "mm.SaveTarget" }}}
        {{{stat-view-card "SIZE" (concat "cci cci-size-" mm.Size) "mm.Size" }}} {{{stat-view-card "ACTIVATIONS"
        "cci cci-activate" "mm.Activations" }}} {{{stat-edit-max-card "STRUCTURE" "cci cci-structure"
        "mm.CurrentStructure" "mm.MaxStructure" }}} {{{stat-edit-max-card "STRESS" "cci cci-reactor"
        "mm.CurrentStress" "mm.MaxStress"}}}
      </div>

      {{!-- Equipment et all --}}
      <div class="card clipped">
        <span class="lancer-header submajor">CLASS</span>
        <div class="flexcol">
          {{#if mm.ActiveClass}} {{{ref-mm-controllable-item "mm.ActiveClass" "delete" }}} {{else}} NO CLASS FOUND {{/if}}
        </div>
      </div>

      <div class="card clipped">
        <span class="lancer-header submajor">TEMPLATES</span>
        <div class="wraprow double">
          {{#each mm.Templates as |template index|}} {{{ref-mm-controllable-item (concat "mm.Templates." index)
          "delete" }}} {{/each}}
        </div>
      </div>

      <div class="card clipped">
        <div class="lancer-header submajor">
          <span style="padding-left: 41px;">FEATURES</span>
          <a style="margin-top: 2px; font-size: 1.4em;" class="charge-macro"><i class="mdi mdi-dice-6"></i></a>
        </div>
        <div class="wraprow double">
          {{#each mm.Features as |feature index|}} {{{npc-feat-preview (concat "mm.Features." index)
          tier=../mm.Tier }}} {{/each}}
        </div>
      </div>

      {{{textarea-card "NOTES" "mm.Note"}}}
    </div>
  </section>
</form>
