<form autocomplete="off">
    <h2>{{ localize "LANCERINITIATIVE.IconSettingsMenu" }}</h2>
  <div class="form-group">
    <label>{{ localize "LANCERINITIATIVE.Icon" }}</label>
    <input type="text" name="icon" value="{{ icon }}" data-dtype="String"/>
    <p class="notes">{{ localize "LANCERINITIATIVE.IconDesc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "LANCERINITIATIVE.IconSize" }}</label>
    <input type="range" name="icon_size" min="1" max="4" step="0.1" value="{{ icon_size }}" data-dtype="Number"/>
    <span class="range-value">{{ icon_size }}</span>
    <!--<p class="notes">{{ localize "LANCERINITIATIVE.IconSizeDesc" }}</p>-->
  </div>

  <div class="app" id="preview-combat">
    <section class="sidebar-tab tab" id="combat">
      <ol id="combat-tracker" class="directory-list">
        <li class="combatant actor directory-item flexrow" style="border-color: {{ player_color }}">
          <img class="token-image" src="icons/svg/mystery-man.svg">
          <div class="token-name flexcol">
            <h4>{{ localize "LANCERINITIATIVE.IconPreview" }}</h4>
            <div class="combatant-controls flexrow">
              <a class="combatant-control " title="Toggle Visibility" data-control="toggleHidden">
                <i class="fas fa-eye-slash"></i></a>
              <a class="combatant-control " title="Mark Defeated" data-control="toggleDefeated">
                <i class="fas fa-skull"></i></a>
              <div class="token-effects">
              </div>
            </div>
          </div>
          <div class="token-resource">
            <span class="resource"></span>
          </div>
          <div class="token-initiative">
            <a class="preview {{ icon }}" style="color: {{ player_color }}; font-size: {{ icon_size }}rem"></a>
          </div>
        </li>
      </ol>
    </section>
  </div>

  <div class="form-group">
    <label>{{ localize "LANCERINITIATIVE.PCColor" }}</label>
    <div class="form-fields">
      <input type="text" name="player_color" value="{{ player_color }}" data-dtype="String"/>
      <input type="color" name="player_selector" value="{{ player_color }}" data-edit="player_color"/>
    </div>
    <p class="notes">{{ localize "LANCERINITIATIVE.PCColorDesc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "LANCERINITIATIVE.FriendlyColor" }}</label>
    <div class="form-fields">
      <input type="text" name="friendly_color" value="{{ friendly_color }}" data-dtype="String"/>
      <input type="color" name="friendly_selector" value="{{ friendly_color }}" data-edit="friendly_color"/>
    </div>
    <p class="notes">{{ localize "LANCERINITIATIVE.FriendlyColorDesc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "LANCERINITIATIVE.NeutralColor" }}</label>
    <div class="form-fields">
      <input type="text" name="neutral_color" value="{{ neutral_color }}" data-dtype="String"/>
      <input type="color" name="neutral_selector" value="{{ neutral_color }}" data-edit="neutral_color"/>
    </div>
    <p class="notes">{{ localize "LANCERINITIATIVE.NeutralColorDesc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "LANCERINITIATIVE.EnemyColor" }}</label>
    <div class="form-fields">
      <input type="text" name="enemy_color" value="{{ enemy_color }}" data-dtype="String"/>
      <input type="color" name="enemy_selector" value="{{ enemy_color }}" data-edit="enemy_color"/>
    </div>
    <p class="notes">{{ localize "LANCERINITIATIVE.EnemyColorDesc" }}</p>
  </div>
  <div class="form-group">
    <label>{{ localize "LANCERINITIATIVE.DoneColor" }}</label>
    <div class="form-fields">
      <input type="text" name="done_color" value="{{ done_color }}" data-dtype="String"/>
      <input type="color" name="done_selector" value="{{ done_color }}" data-edit="done_color"/>
    </div>
    <p class="notes">{{ localize "LANCERINITIATIVE.DoneColorDesc" }}</p>
  </div>
  <div class="form-group">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i>
      <span>Save</span>
    </button>
    <button type="button" name="reset">
      <i class="fas fa-undo"></i>
      <span>Reset</span>
    </button>
  </div>
</form>
