<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="{{localize "lancer.placeholder.name"}}"/></h1>
    </div>
    {{{ ref-portrait-img item.img "img" item }}}
  </header>

  {{!-- Sheet Body --}}
  <div class="flexcol">
    {{!-- major ideals --}}
    <div class="card clipped">
      <div class="lancer-header">MAJOR IDEALS</div>
      <ul>
        {{#each system.major_ideals}}
          <li>{{{std-string-input (concat "system.major_ideals." @index) classes="lancer-text-field"}}}</li>
        {{/each}}
      </ul>
    </div>
    {{!-- minor ideals --}}
    <div class="card clipped">
      <div class="lancer-header">MINOR IDEALS</div>
      <ul>
        {{#each system.minor_ideals}}
          <li>{{{std-string-input (concat "system.minor_ideals." @index) classes="lancer-text-field"}}}</li>
        {{/each}}
      </ul>
    </div>
    {{!-- questions --}}
    <div class="card clipped">
      <div class="lancer-header">QUESTIONS</div>
      {{#each system.questions as |question|}}
        {{{std-string-input (concat "system.questions." (concat @index ".question")) classes="lancer-text-field"}}}
        <ul>
        {{#each question.options as |option|}}
          <li>{{{std-string-input (concat "system.questions." (concat @../index (concat ".options." @index))) classes="lancer-text-field"}}}</li>
        {{/each}}
        </ul>
      {{/each}}
    </div>
    {{!-- powers --}}
  </div>
</form>
