<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="{{localize "lancer.placeholder.name"}}"/></h1>
      {{{ ref-manufacturer "mm.Source" }}}
    </div>
    {{{ ref-portrait-img item.img "img" mm }}}
  </header>

  {{!-- Sheet Body --}}
  <div class="flexcol">
    {{{textarea-card "DESCRIPTION"    "mm.Description"}}}
    {{{textarea-card "EFFECT"         "mm.Effect"}}}
    {{{textarea-card "MOUNTED EFFECT" "mm.MountedEffect"}}}
    {{{item-edit-arrayed-actions      "mm.Actions"      "ACTIONS"}}}
    {{{item-edit-arrayed-synergies    "mm.Synergies"    "SYNERGIES"}}}
    {{{item-edit-arrayed-deployables  "mm.Deployables"  "DEPLOYABLES"}}}
    {{{counter-array mm.Counters      "mm.Counters"     "mm.Counters" true}}}
    {{{item-edit-arrayed-integrated   "mm.Integrated"   "INTEGRATED ITEMS"}}}

    {{!-- Bonuses --}}
    {{{item-edit-arrayed-bonuses      "mm.Bonuses"}}}
  </div>
</form>
