<form class="{{cssClass}} lancer-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header card clipped-bot">
      <div class="flexrow">
        <div class="header-fields">
          <h1 class="charname">
            <input
              class="header-field"
              name="name"
              type="text"
              value="{{item.name}}"
              placeholder="{{localize "lancer.placeholder.name"}}"
            />
          </h1>
        </div>
        {{{ ref-portrait-img item.img "img" mm }}}
      </div>
    </header>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{{textarea-card "DESCRIPTION" "mm.Description"}}}
    </section>
  </form>
