<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="{{localize "lancer.placeholder.name"}}"/></h1>
      <input class="header-field" style="margin: 8px 2%; width: 96%;" name="item.system.role" type="text" value="{{item.system.role}}" placeholder="{{localize "lancer.placeholder.npc_class_role"}}"/>
    </div>
    {{{ ref-portrait-img item.img "img" mm }}}
  </header>

  {{!-- Description --}}
  {{{textarea-card "DESCRIPTION" "mm.Info.flavor"}}}
  {{{textarea-card "TACTICS" "mm.Info.tactics"}}}

  {{!-- Frame Stats --}}
  <div class="card clipped wraprow quadruple">
    <div class="wraprow quadruple">
      {{{npc-clicker-stat-card "HULL" "mm.Stats.hull"}}}
      {{{npc-clicker-stat-card "AGILITY" "mm.Stats.agility"}}}
      {{{npc-clicker-stat-card "SYSTEMS" "mm.Stats.systems"}}}
      {{{npc-clicker-stat-card "ENGINEERING" "mm.Stats.engineering"}}}
      {{{npc-clicker-stat-card "ARMOR" "mm.Stats.armor"}}}
      {{{npc-clicker-stat-card "HP" "mm.Stats.hp"}}}
      {{{npc-clicker-stat-card "STRUCTURE" "mm.Stats.structure"}}}
      {{{npc-clicker-stat-card "STRESS" "mm.Stats.stress"}}}
      {{{npc-clicker-stat-card "EVASION" "mm.Stats.evade"}}}
      {{{npc-clicker-stat-card "E-DEFENSE" "mm.Stats.edef"}}}
      {{{npc-clicker-stat-card "HEAT" "mm.Stats.heatcap"}}}
      {{{npc-clicker-stat-card "SPEED" "mm.Stats.speed"}}}
      {{{npc-clicker-stat-card "ACTIVATIONS" "mm.Stats.activations"}}}
      {{{npc-clicker-stat-card "SENSORS" "mm.Stats.sensor"}}}
      {{{npc-clicker-stat-card "SAVE" "mm.Stats.save"}}}
      {{{npc-clicker-stat-card "SIZE" "mm.Stats.size"}}}
    </div>
  </div>

  <div class="flexcol tags-container" style="margin: 10px;">
    <div class="lancer-title">
      <span class="major">BASE FEATURES</span>
    </div>

    {{#each mm.BaseFeatures as |feature feature_index|}}
        {{{npc-feat-preview (concat "mm.BaseFeatures." feature_index) trash-action="splice" }}}
    {{/each}}
    {{{ref-mm-list-item-append "mm.BaseFeatures" "npc_feature"}}}
  </div>

  <div class="flexcol tags-container" style="margin: 10px;">
    <div class="lancer-title">
      <span class="major">OPTIONAL FEATURES</span>
    </div>

    {{#each mm.OptionalFeatures as |feature feature_index|}}
        {{{npc-feat-preview (concat "mm.OptionalFeatures." feature_index) trash-action="splice" }}}
    {{/each}}
    {{{ref-mm-list-item-append "mm.OptionalFeatures" "npc_feature"}}}
  </div>

</form>
