<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="header-fields">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="{{localize "lancer.placeholder.name"}}"/></h1>
    </div>
    {{{ ref-portrait-img item.img "img" item }}}
  </header>
  
  {{{textarea-card "DESCRIPTION" "system.description"}}}
  
  </div>
  <div class="flexcol" style="margin: 10px;">
    <div class="lancer-title">
      <span class="major">BASE FEATURES</span>
    </div>

    {{{lid-item-list "system.base_features" base_features "npc_feature"}}}
  </div>

  <div class="flexcol" style="margin: 10px;">
    <div class="lancer-title">
      <span class="major">OPTIONAL FEATURES</span>
    </div>

    {{{lid-item-list "system.optional_features" optional_features "npc_feature"}}}
  </div>
</form>
