<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="{{localize "lancer.placeholder.name"}}"/></h1>
      <input class="header-field" style="margin: 8px 2%; width: 96%;" name="system.role" type="text" value="{{item.system.role}}" placeholder="{{localize "lancer.placeholder.npc_class_role"}}"/>
    </div>
    {{{ ref-portrait-img item.img "img" system.}}}
  </header>

  {{!-- Description --}}
  {{{textarea-card "DESCRIPTION" "system.flavor"}}}
  {{{textarea-card "TACTICS" "system.tactics"}}}

  {{!-- Frame Stats --}}
  <div class="card clipped wraprow quadruple">
    <div class="wraprow quadruple">
      {{{npc-clicker-statblock-card "HULL" "system.base_stats" "hull"}}}
      {{{npc-clicker-statblock-card "AGI" "system.base_stats" "agi"}}}
      {{{npc-clicker-statblock-card "SYS" "system.base_stats" "sys"}}}
      {{{npc-clicker-statblock-card "ENG" "system.base_stats" "eng"}}}
      {{{npc-clicker-statblock-card "ARMOR" "system.base_stats" "armor"}}}
      {{{npc-clicker-statblock-card "HP" "system.base_stats" "hp"}}}
      {{{npc-clicker-statblock-card "STRUCTURE" "system.base_stats" "structure"}}}
      {{{npc-clicker-statblock-card "STRESS" "system.base_stats" "stress"}}}
      {{{npc-clicker-statblock-card "EVASION" "system.base_stats" "evasion"}}}
      {{{npc-clicker-statblock-card "E-DEFENSE" "system.base_stats" "edef"}}}
      {{{npc-clicker-statblock-card "HEAT" "system.base_stats" "heatcap"}}}
      {{{npc-clicker-statblock-card "SPEED" "system.base_stats" "speed"}}}
      {{{npc-clicker-statblock-card "ACTIVATIONS" "system.base_stats" "activations"}}}
      {{{npc-clicker-statblock-card "SENSORS" "system.base_stats" "sensor_range"}}}
      {{{npc-clicker-statblock-card "SAVE" "system.base_stats" "save"}}}
      {{{npc-clicker-statblock-card "SIZE" "system.base_stats" "size"}}}
    </div>
  </div>

  <div class="flexcol card clipped-top lancer-border-primary" style="margin: 10px;">
    <div class="lancer-header lancer-primary major">
      <span class="major">BASE FEATURES</span>
    </div>

    {{{lid-item-list "system.base_features" base_features "npc_feature"}}}
  </div>

  <div class="flexcol card clipped-top lancer-border-primary" style="margin: 10px;">
    <div class="lancer-header lancer-primary major">
      <span class="major">OPTIONAL FEATURES</span>
    </div>

    {{{lid-item-list "system.optional_features" optional_features "npc_feature"}}}
  </div>

</form>
