<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname">
          <input
            class="header-field"
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="{{localize 'lancer.placeholder.name'}}"
          />
        </h1>
      </div>
      {{{ref-portrait-img item.img "img" item}}}
    </div>
  </header>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{{textarea-card "DESCRIPTION" "system.description"}}}
    {{{textarea-card "ACTIONS" "system.actions"}}}
    {{!-- prettier-ignore --}}
    <div class="flexrow">
      {{{std-num-input             "system.efficiency"    label="EFFICIENCY"}}}
      {{{std-num-input             "system.influence"    label="INFLUENCE"}}}
      {{{std-string-input          "system.purpose"    label="PURPOSE"}}}
    </div>
  </section>
</form>