<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname">
          <input
            class="header-field"
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="{{localize 'lancer.placeholder.name'}}"
          />
        </h1>
      </div>
      {{{ref-portrait-img item.img "img" item}}}
    </div>
  </header>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{{textarea-card "DESCRIPTION" "system.description"}}}
    {{! Comp/Con model has actions, but no way to edit them. Plain string doesn't make much sense
          so we'll hide it too. }}
    {{!-- {{{textarea-card "ACTIONS" "system.actions"}}} --}}
    {{!-- prettier-ignore --}}
    <div class="flexrow">
      {{{std-select       "system.purpose" org_types label="PURPOSE"}}}
      {{{std-num-input    "system.efficiency"   label="EFFICIENCY"}}}
      {{{std-num-input    "system.influence"    label="INFLUENCE"}}}
    </div>
  </section>
</form>