<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="{{localize "lancer.placeholder.name"}}"/></h1>
      </div>
      {{{ ref-portrait-img item.img "img" item }}}
    </div>
  </header>

  {{!-- Description --}}
  {{{textarea-card "DESCRIPTION" "system.description"}}}
  
  {{!-- Uses --}}
  <div>
      {{{item-edit-uses "system.uses.value" "system.uses.max"}}}
  </div>

  {{!-- Bonuses --}} 
  {{{item-edit-arrayed-actions      "system.actions"        "ACTIONS"}}}
  {{{item-edit-arrayed-bonuses      "system.bonuses"}}}
  {{{item-edit-arrayed-deployables  "system.deployables"    "DEPLOYABLES"}}}
  {{{item-edit-arrayed-synergies    "system.synergies"      "SYNERGIES"}}}

  {{!-- Tags --}}
  <div class="card">
    <span class="lancer-header major">TAGS</span>
    {{{mm-tag-list "system.tags" system.tags editable}}}
  </div>

</form>
