<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="{{localize "lancer.placeholder.name"}}"/></h1>
      </div>
      {{{ ref-portrait-img item.img "img" mm }}}
    </div>
  </header>

  {{!-- Description --}}
  {{{textarea-card "DESCRIPTION" "mm.Description"}}}
  
  {{!-- Uses --}}
  <div>
    {{#if (is-limited mm)}}
      {{{limited-uses-indicator mm "mm"}}}
    {{/if}}
  </div>

  {{!-- Bonuses --}} 
  {{{item-edit-arrayed-actions      "mm.Actions"        "ACTIONS"}}}
  {{{item-edit-arrayed-bonuses      "mm.Bonuses"}}}
  {{{item-edit-arrayed-deployables  "mm.Deployables"    "DEPLOYABLES"}}}
  {{{item-edit-arrayed-synergies    "mm.Synergies"      "SYNERGIES"}}}

  {{!-- Tags --}}
  <div class="card">
    <span class="lancer-header major">TAGS</span>
    {{{mm-tag-list "mm.Tags" mm.Tags editable}}}
  </div>

</form>
