<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname">
          <input
            class="header-field"
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="{{localize "lancer.placeholder.name"}}"
          />
        </h1>
      </div>
      {{{ ref-portrait-img item.img "img" mm }}}
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{{textarea-card "DESCRIPTION" "mm.Description"}}}
    <div class="card clipped">
      <div class="lancer-header">CONFIGURATION</div>
      <div class="flexrow">
        <div
          <span>TYPE:</span>{{{item-edit-enum     "mm.ReserveType"     "ReserveType" label="RESERVE TYPE"}}}
        </div>
        <div class="flexcol" style="align-items: center;">
          <span>CONSUMABLE:</span>
          <input type="checkbox" name="mm.Consumable" {{checked mm.Consumable}}>
        </div>
        {{#if mm.Consumable}}
          {{{reserve-used-indicator mm "mm"}}}
        {{/if}}
      </div>
    </div>
    <div class="flexrow">
      {{!-- TODO: pretty this up a bit --}}
      {{{textarea-card      "RESOURCE NAME"      "mm.ResourceName"}}}
      {{{textarea-card      "RESOURCE LABEL"     "mm.ResourceLabel"}}}
    </div>
    <div class="flexrow">
      {{{textarea-card      "RESOURCE COST"      "mm.ResourceCost"}}}
      {{{textarea-card      "RESOURCE NOTE"      "mm.ResourceNote"}}}
    </div>
  </section>
</form>
