<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname">
          <input
            class="header-field"
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="{{localize 'lancer.placeholder.name'}}"
          />
        </h1>
      </div>
      {{{ref-portrait-img item.img "img" item}}}
    </div>
  </header>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{{textarea-card "RESOURCE LABEL" "system.label"}}}
    {{{textarea-card "DESCRIPTION" "system.description"}}}
    <div class="flexrow">
      <div class="card clipped">
        <div class="lancer-header lancer-primary">TYPE</div>
        {{{item-edit-enum "system.type" "ReserveType" label=""}}}
      </div>
      <div class="card clipped" style="align-items: center;">
        <div class="lancer-header lancer-primary">CONSUMABLE</div>
        <input type="checkbox" name="system.consumable" {{checked system.consumable}} />
      </div>
      {{#if system.consumable}}
        {{{reserve-used-indicator "system.used"}}}
      {{/if}}
    </div>
  </section>
</form>