<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname">
          <input
            class="header-field"
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="{{localize "lancer.placeholder.name"}}"
          />
        </h1>
      </div>
      {{{ ref-portrait-img item.img "img" mm }}}
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <div class="flexcol">
        <span>CONSUMABLE:</span>
        <input type="checkbox" name="mm.Consumable" {{checked mm.Consumable}}>
      </div>
      <div class="flexcol">
        <span>USED:</span>
        <input type="checkbox" name="mm.Used" {{checked mm.Used}}>
      </div>
    </div>
      {{{textarea-card "DESCRIPTION" "mm.Description"}}}
      {{{item-edit-arrayed-actions      "mm.Actions"        "ACTIONS"}}}
      {{{item-edit-arrayed-bonuses      "mm.Bonuses"}}}
      {{{counter-array mm.Counters "mm.Counters" "mm.Counters" true}}}
      {{{item-edit-arrayed-deployables  "mm.Deployables"                "DEPLOYABLES"}}}
      {{{item-edit-arrayed-integrated   "mm.Integrated"                 "INTEGRATED ITEMS"}}}
      {{{item-edit-arrayed-synergies    "mm.Synergies"                  "SYNERGIES"}}}
    <div class="flexrow">
      {{{std-string-input             "mm.ReserveType"    label="RESERVE TYPE"}}}
      {{{std-string-input             "mm.ResourceCost"   label="RESOURCE COST"}}}
      {{{std-string-input             "mm.ResourceLabel"  label="RESOURCE LABEL"}}}
      {{{std-string-input             "mm.ResourceName"   label="RESOURCE NAME"}}}
      {{{std-string-input             "mm.ResourceNote"   label="RESOURCE NOTE"}}}
    </div>
  </section>
</form>
