<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}"
                                  placeholder="{{localize " lancer.placeholder.name"}}" /></h1>
      <div class="flexrow">
        <span>RANK:</span>
        {{{l-num-input "system.curr_rank"}}}
      </div>
    </div>
    {{{ ref-portrait-img item.img "img" item}}}
  </header>

  {{!-- Sheet Body --}}
  {{{textarea-card "DESCRIPTION" "system.description"}}}

  {{{textarea-card "DETAILS" "system.detail"}}}
</form>
