<form class="{{cssClass}}" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header card clipped-bot">
    <h1 class="name">
      <input
        class="lancer-input header-field"
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize 'lancer.placeholder.name'}}"
      >
    </h1>
    {{{ref-portrait-img item.img "img" item}}}
    <div class="header-details" style="padding-left: 1em; padding-right: 1em">
      {{{std-select "system.type" status_types label="TYPE"}}}
      {{{std-text-input "system.lid" label="LID"}}}
    </div>
  </header>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{{textarea-card "DESCRIPTION" "system.effects"}}}
  </section>
</form>
