<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header card clipped-bot">
    <h1 class="charname grow">
      <input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name" />
    </h1>
    {{{ref-portrait-img item.img "img" mm}}}
  </header>
  <div>
    {{#if item.isOwned }}
      <div class="flexrow" style="align-items:center;margin-right:8px;">
        <span style="text-align: right;padding: 4px;">
          RANK:
        </span>
        {{{l-num-input "mm.CurrentRank"}}}
      </div>
    {{/if}}
  </div>
  <div class="flexcol">
    <!--
    <a
      class="gen-control simple-button"
      data-action="append"
      data-action-value="(struct)empty_array"
      data-path="mm.Unlocks"
      style="float: right; margin-right: 1em"
    >
      Add Rank
    </a>
    -->
    {{#each unlocks as |unlock_array rank|}}
      <div class="card">
        <div class="lancer-header">
          <span class="left">
            //RANK
            {{rank}}
          </span>
          <!--
          <a class="gen-control" data-action="splice" data-path="mm.Unlocks.{{rank}}">
            <i class="fas fa-trash"></i>
          </a>
          -->
        </div>
        {{#each unlock_array as |unlock unlock_index|}}
          {{{ref-mm-controllable-item-native (concat "unlocks." rank "." unlock_index) null }}}
        {{/each}}
        <!--{{{ref-mm-list-item-append (concat "mm.Unlocks." rank) "frame mech_system mech_weapon weapon_mod"}}}-->
      </div>
    {{/each}}
  </div>
</form>