{{!--
  Description
  FilterIgnore
  Hidden
  LID
  Name
--}}

<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname">
          <input
            class="header-field"
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="Name"
          />
        </h1>
      </div>
      {{{ ref-portrait-img item.img "img" mm.ent }}}
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{{textarea-card "DESCRIPTION" "mm.ent.Description"}}}
    <div class="card">
      <span class="lancer-header">TAG META INFO</span>
      {{{ std-string-input "mm.ent.LID" label="ID:"  }}}
      {{{ std-checkbox "mm.ent.Hidden" label="Hidden:"  label_classes="self-left" }}}
      {{{ std-checkbox "mm.ent.FilterIgnore" label="Filter Ignore:"  label_classes="self-left" }}}
    </div>
  </section>
</form>
