<section>
  {{formGroup fields.attacks value=config.attacks localize=true}}
  {{formGroup fields.structure value=config.structure localize=true}}
  {{formGroup fields.overcharge_heat value=config.overcharge_heat localize=true}}
  {{formGroup fields.attack_self_heat value=config.attack_self_heat localize=true}}
  {{formGroup fields.limited_loading value=config.limited_loading localize=true}}
  {{formGroup fields.npc_recharge value=config.npc_recharge localize=true}}
  {{formGroup fields.remove_templates value=config.remove_templates localize=true}}
  {{formGroup fields.token_size value=config.token_size localize=true}}
</section>
