<section>
  {{formGroup fields.defaultConditionsStatus value=config.defaultConditionsStatus localize=true}}
  {{formGroup fields.cancerConditionsStatus value=config.cancerConditionsStatus localize=true}}
  {{formGroup fields.cancerNPCTemplates value=config.cancerNPCTemplates localize=true}}
  {{formGroup fields.hayleyConditionsStatus value=config.hayleyConditionsStatus localize=true}}
  {{formGroup fields.hayleyPC value=config.hayleyPC localize=true}}
  {{formGroup fields.hayleyNPC value=config.hayleyNPC localize=true}}
  {{formGroup fields.hayleyUtility value=config.hayleyUtility localize=true}}
  {{formGroup fields.tommyConditionsStatus value=config.tommyConditionsStatus localize=true}}
</section>
