<form id="accdiff">
  <div id="accdiff-dialog" style="padding:4px">
    <div class="accdiff-grid">
      <div style="width:100%;padding:4px;border-right: 1px dashed #782e22;">
        <h3>
          <i class="cci cci-accuracy i--m i--dark" style="vertical-align:middle;border:none"></i>
          Accuracy
        </h3>
        <label class="container">
          Accurate (+1)
          <input type="checkbox" name="base.accurate" {{checked base.accurate}} />
          <span class="checkmark"></span>
        </label>
        <label class="container">
          Seeking (*)
          <input type="checkbox" name="base.seeking" {{checked base.seeking}} />
          <span class="checkmark"></span>
        </label>
      </div>
      <div style="width:100%;padding:4px;">
        <h3>
          <i class="cci cci-difficulty i--m i--dark" style="vertical-align:middle;border:none"></i>
          Difficulty
        </h3>
        <label class="container">
          Inaccurate (-1)
          <input type="checkbox" name="base.inaccurate" {{checked base.inaccurate}} />
          <span class="checkmark"></span>
        </label>
        {{{std-cover-input "base.cover"
          classes="accdiff-base-cover flexcol"
          disabled="baseCoverDisabled"
        }}}
      </div>
    </div>
    <label class="flexrow accdiff-footer accdiff-weight">
      Other Sources
    </label>
    <div class="accdiff-grid">
      <div class="accdiff-other-grid" style="border-right: 1px dashed #782e22;">
        <button
          class="mod-minus-button dec-set"
          type="button"
          onclick="this.nextElementSibling.value = this.nextElementSibling.valueAsNumber - 1; this.nextElementSibling.dispatchEvent(new Event('change', {bubbles: true}))"
        >
          -
        </button>
        <input
          id="accdiff-other-acc"
          class="difficulty lancer-invisible-input dec-set"
          style="max-width: 2em;text-align: center;font-size: 1.2em"
          type="number"
          name="base.untyped.accuracy"
          value="{{base.untyped.accuracy}}"
          min="0"
        />
        <button
          class="mod-plus-button dec-set"
          type="button"
          onclick="this.previousElementSibling.value = this.previousElementSibling.valueAsNumber + 1; this.previousElementSibling.dispatchEvent(new Event('change', {bubbles: true}))"
        >
          +
        </button>
      </div>
      <div class="accdiff-other-grid">
        <button
          class="mod-minus-button dec-set"
          type="button"
          onclick="this.nextElementSibling.value = this.nextElementSibling.valueAsNumber - 1; this.nextElementSibling.dispatchEvent(new Event('change', {bubbles: true}))"
        >
          -
        </button>
        <input
          id="accdiff-other-diff"
          class="difficulty lancer-invisible-input dec-set"
          style="max-width: 2em;text-align: center;font-size: 1.2em"
          type="number"
          name="base.untyped.difficulty"
          value="{{base.untyped.difficulty}}"
          min="0"
        />
        <button
          class="mod-plus-button dec-set"
          type="button"
          onclick="this.previousElementSibling.value = this.previousElementSibling.valueAsNumber + 1; this.previousElementSibling.dispatchEvent(new Event('change', {bubbles: true}))"
        >
          +
        </button>
      </div>
    </div>
    {{#unless hasTargets}}
      <label class="flexrow accdiff-footer accdiff-weight">
        Total
      </label>
      {{{accdiff-total-display "base.total"
        id="accdiff-total"
        classes="accdiff-grid accdiff-weight"
      }}}
    {{/unless}}
    {{#if hasTargets}}
      <div class="accdiff-footer accdiff-weight accdiff-target-row">
        {{#each targets as |data key|}}
          <div class="flexcol card">
            <label class="flexrow flex-center card">
              {{data.target.data.name}}
            </label>
            <div class="flexrow">
              <div class="accdiff-grid accdiff-weight">
                <img class="lancer-hit-thumb" src="{{data.target.data.img}}" />
              </div>
              {{{accdiff-total-display (concat "targets." key ".total")
                id=(concat "accdiff-total-" key)
                classes="accdiff-grid accdiff-weight"
              }}}
            </div>
            <div class="flexrow">
              <button
                class="i--m no-grow"
                type="button"
                onclick="this.nextElementSibling.value = this.nextElementSibling.valueAsNumber + 1; this.nextElementSibling.dispatchEvent(new Event('change', {bubbles: true}))"
              >
                <i class="cci cci-accuracy i--m" style="border:none"></i>
              </button>
              <input
                id="accdiff-other-acc-{{key}}"
                style="display: none"
                type="number"
                name="targets.{{key}}.accuracy"
                value="{{data.accuracy}}"
                min="0"
              />
              {{{std-cover-input (concat "targets." key ".cover")
                classes="accdiff-targeted-cover flexrow flex-center"
                label_classes="i--s"
                container_classes="f-16"
                disabled="base.seeking"
              }}}
              <input
                id="accdiff-other-diff-{{key}}"
                style="display: none"
                type="number"
                name="targets.{{key}}.difficulty"
                value="{{data.difficulty}}"
                min="0"
              />
              <button
                class="i--m no-grow"
                type="button"
                onclick="this.previousElementSibling.value = this.previousElementSibling.valueAsNumber + 1; this.previousElementSibling.dispatchEvent(new Event('change', {bubbles: true}))"
              >
                <i class="cci cci-difficulty i--m" style="border:none"></i>
              </button>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="dialog-buttons flexrow">
    <button class="dialog-button submit default" data-button="submit" type="submit">
      <i class="fas fa-check"></i>
      Roll
    </button>
    <button class="dialog-button cancel" data-button="cancel" type="button">
      <i class="fas fa-times"></i>
      Cancel
    </button>
  </div>
</form>