<div class="card clipped-bot" style="margin: 0px;">
    <div class="lancer-header ">// {{upper-case title}} //</div>
    
    <div class="card clipped" style="padding: 5px">
        <div class="flexcol" style="margin: 10px;">
            <span class="medium flexrow">{{localize "lancer.chat-card.label.trigger"}}</span>
            <div class="effect-text flexrow" style="padding: 5px">
              {{{trigger}}}
            </div>
            <span class="medium flexrow">{{localize "lancer.chat-card.label.effect"}}</span>
            <div class="effect-text flexrow" style="padding: 5px">
              {{{effect}}}
            </div>
          </div>
        {{{mm-tag-list tags}}}
    </div>
</div>